*{
    padding: 0px;
    padding-top: 5px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: all ease-in-out 0.5s
}
body{
   background-image: url();
    background-repeat: no-repeat;
    opacity: 0.5;   
    color: white; 
}
body #header{
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 50px;
    color: red;
}
body #zone{
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 40px;
    color: rgba(255, 0, 0, 0.692);
}
.container {
    display: flex;    
    margin: 1rem auto;
    padding:10px;
    padding-top: 50px;
    width: 1000px;
    background-color: #0e0e0d;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
.jumbotron{
    padding:10px 50px 25px 50px;
    width: 80%;
}
.text-center {
    display: flex;    
    justify-content: center; 
    padding: 10px;
    font-size: 60px;
    font-weight: 100px;
    color: white;
    font-family: 'Filson', sans-serif;           
}
.search {
    width: 100%;
    border-radius: 0.5rem;
    font-size: 24px;
    border:none;
    outline:none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: .71rem;    
    height: 55px;
    letter-spacing: 1.4px;
    color: rgb(10, 10, 10);
}
#form {
    display: flex;
}
#search-container {
    border: none;
    outline: none;
    height: 55px;
    color: white;
    margin-left: -10px;
    padding:15px 32px;
    background:#E50914;
    border-radius: 0 5px 5px 0;
    font-size:20px;
    font-family: 'Filson',sans-serif;
    font-weight: bolder;
    overflow-y: hidden;
    /* overflow-x: hidden; */
    cursor:pointer;
    
}
input::placeholder {
    font-size: 20px;
    font-family: 'Filson',sans-serif;
    font-weight: 100;
}
.displayMovie{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie {
    position: relative;
    width:360px;
    margin: 24px;
    border-radius: 5px;    
    padding-bottom:auto;
    overflow-y: hidden;
    transition: all ease-in-out 0.3s;
    background: linear-gradient(to left bottom,red,#292828)
   
}

.movie img {
    width: 90%;
    height: 80%;
    display: flex;
    margin: 16px;
}
.movie-info h3 {
    font-family: 'Filson',sans-serif;
    font-weight: 100;
    margin-top: 0;
    margin-right:15px;
}
.overview h1 {
    font-size:27px;
}
.overview h2{
    font-size: 21px;
}
.movie-info {
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px 18px;
    font-size: 1.2rem;
}
.green {
    display: flex;
    flex-direction: column;
    background-color:green;
    color: white;
    font-weight: bolder;
    width:3rem;
    height: auto;
    text-align: center;
    padding: 3px;
    border-radius: 3px 15px 3px 15px;
}
.orange {
    font-weight: bolder;
    width:3rem;
    height: auto;
    text-align: center;
    padding: 3px;
    display: flex;
    flex-direction: column;
    background-color:orange;
    color: white;    
    border-radius: 3px 15px 3px 15px;
}
.red {
    font-weight: bolder;
    width:3rem;
    height: auto;
    text-align: center;
    padding: 3px;
    display: flex;
    flex-direction: column;
    background-color:red;
    color: white;    
    border-radius: 3px 15px 3px 15px;
}
.overview {
    position: absolute;
    left:0;
    right:0;
    height: 80%;
    bottom:110px;
    background-color: white;
    padding: 16px;
    transform:translateX(101%) translateY(101%);
    transition: 0.85s ;
    
}
.movie:hover .overview {
    opacity: 0.7;  
    color: blue;
    display: block;
    transform: translateX(0%) ;     
}
    
     